<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="src/css/style2.css">

</head>
<body>
    <div class="container content-center">
        <div class="vertical-center" id="vertical-center" >
            <form>
              <div class="form-group">
                <div><img src="src/img/logo.png" alt="logo" class="logo px-3" width="400px"> </div>
                <div class="pt-5">
                    <label class="label" text-align ="center"}>Client Case Portal</label>
                    <input type="email" class="form-control my-3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name, First Name">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Phone Number[56155555555]">
                </div>
                <button type="button" class="btn btn-secondary btn-lg btn-block">Login</button>
            </div>
        </form>

    </div>
</div>
</body>
</html>
